@font-face {
  font-family: 'ptsans';
  src: url('../fonts/web/ptsans.woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ptsans';
  src: url('../fonts/web/ptsansbold.woff2');
  font-weight: 700;
  font-style: normal;
}
